.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

.main-container {
  padding: 20px;
}

.dashboard-select {
  margin-bottom: 20px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* space between components */
}

.driver-tasks-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add space between the components */
}

.drivers-list-container,
.driver-tasks-list-container {
  min-height: 400px; /* Ensure each container has a minimum height */
  margin-bottom: 10%; /* Add bottom margin to separate them visually */
}

.data-grid {
  flex: 1; /* Allows the grid to grow and fill available space */
  overflow: auto; /* Allow scrolling if content overflows */
}
