.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart-container {
  width: 100%;
  height: 80vh; /* Ensuring the height is significant */
  background-color: white; /* Ensuring the background color for visibility */
  padding: 20px; /* Optional: Add padding for aesthetics */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visual separation */
  display: flex;
  justify-content: center; /* Center the map horizontally */
  align-items: center; /* Center the map vertically */
}
