/* tasks.css */
.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.table-container {
  grid-column: span 3;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.menu-icon {
  display: none;
}
/* End Header  */

/* Main  */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.container-wrapper {
  display: flex;
  justify-content: space-around; /* Center horizontally and add space between */
  margin: 20px; /* Adjust margin for spacing */
}

.container {
  width: 100px; /* Set a fixed width for the containers */
  height: 800px; /* Adjust height as needed */
  background-color: rgba(255, 255, 255, 0.8); /* Example background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px; /* Add margin between containers */
}

.container h2 {
  margin-bottom: 10px;
}

.container p {
  margin-bottom: 20px;
}

.container button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container button:hover {
  background-color: #0056b3;
}

/* Media queries for responsiveness */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}

.dark-mode .sidebar {
  background-color: black;
}

/* ------------------------------------------------*/

/* Styling for individual containers */
.container {
  flex: 1;
  padding: 20px;
}

.chart,
.map {
  flex: 1;
  padding: 20px;
}

.chart {
  max-width: 50%;
}

.map {
  max-width: 50%;
}

.leaflet-container {
  height: 500px; /* Square shape */
  width: 500px;
}
