.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100vh;
}

.main-container {
  padding: 20px;
  overflow-y: auto;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px;
}

.chart-card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-card h2 {
  margin-top: 0;
}

.chart-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

::selection {
  color: black; /* Set selected text color to black */
  background: #b3d4fc; /* Optional: Change the background color of selected text */
}
